* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  max-width: 1480px;
  margin: 0 auto; }

header {
  background-image: url("../img/rsz_unplashphoto-sandiego.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75%; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px 20px 0px 20px;
  margin: 0;
  width: 100%; }
  .nav .ham-container {
    display: inline-block; }
    .nav .ham-container .line1, .nav .ham-container .line2, .nav .ham-container .line3 {
      width: 40px;
      height: 4px;
      background-color: black;
      margin: 6px 0;
      transition: 0.3s; }
    .nav .ham-container .transition-line1 {
      transform: rotate(-45deg) translate(-7px, 6px); }
    .nav .ham-container .transition-line2 {
      opacity: 0; }
    .nav .ham-container .transition-line3 {
      transform: rotate(45deg) translate(-8px, -8px); }

.nav-ul {
  display: none;
  width: 40%;
  justify-content: space-between; }
  .nav-ul li {
    font-family: "Nanum Gothic", sans-serif; }
    .nav-ul li a {
      color: black;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 1px; }

.intro {
  text-align: center;
  width: 90%;
  margin: 10% auto; }

.intro-wrapper {
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 15px; }
  .intro-wrapper h1 {
    color: #193a44;
    opacity: 0.8;
    font-size: 38px;
    margin: 0; }
  .intro-wrapper p {
    color: black; }
  .intro-wrapper h3 {
    color: #193a44; }

.work {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif; }

.examples {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }
  .examples .example {
    margin: 25px auto;
    width: 75%; }
    .examples .example img {
      max-width: 100%;
      min-height: 90%;
      box-shadow: 5px 5px 30px lightgray; }

.experience {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Nanum Gothic", sans-serif; }
  .experience h4 {
    margin: 0; }
  .experience .company {
    margin: 0;
    font-size: 14px; }

.col {
  background-color: rgba(33, 149, 161, 0.1);
  padding: 10px;
  color: black;
  width: 95%;
  margin: 20px auto;
  border-radius: 10px; }

.skills {
  text-align: center; }

.skills-ul {
  display: flex;
  flex-flow: row wrap; }
  .skills-ul li {
    margin: 15px auto;
    width: 50%; }

.heading {
  opacity: 0.8;
  color: #193a44;
  font-family: "Nanum Gothic", sans-serif; }

.html-badge {
  fill: #e34f26; }

.sass-badge {
  fill: #cc6699; }

.css-badge {
  fill: #1572b6; }

.git-badge {
  fill: #f05032; }

.js-badge {
  fill: #f7df1e; }

.bootstrap-badge {
  fill: #563d7c; }

.skills-icon {
  width: 25%; }

.about {
  width: 90%;
  margin: 20px auto;
  background-color: rgba(33, 149, 161, 0.1);
  border-radius: 10px;
  padding: 10px;
  font-family: "Nanum Gothic", sans-serif; }

.contact {
  background-color: rgba(33, 149, 161, 0.1);
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 60px;
  padding: 20px; }
  .contact p {
    font-size: 14px; }
  .contact .heading {
    margin-top: 0; }

.social-ul {
  display: flex;
  justify-content: center; }
  .social-ul li {
    width: 10%; }

.custom-icon {
  width: 90%; }

@media (min-width: 768px) {
  .custom-icon {
    width: 50%; }

  .contact .contact-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  .contact p {
    font-size: 16px; }

  .skills-ul li {
    margin: 15px auto;
    width: 30%; }

  .skills-icon {
    width: 40%; }

  .examples .example {
    width: 40%; } }
@media (min-width: 1040px) {
  header {
    height: 100%; }

  .nav-ul {
    display: flex; }

  .nav .ham-container {
    display: none; }

  .experience {
    flex-flow: row; }

  .col {
    margin: 20px 15px; }

  .about {
    width: 93%; } }

/*# sourceMappingURL=main.css.map */
