* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  max-width: 1480px;
  margin: 0 auto; }

header {
  height: 75%; }

.width-add {
  width: 150px !important; }

.margin-add {
  margin-top: 150px; }

.nav {
  display: flex;
  height: 100px;
  padding: 20px 20px 0px 20px;
  margin: 0;
  width: 100%; }
  .nav .ham-container {
    display: inline-block;
    position: sticky;
    z-index: 3; }
    .nav .ham-container .line1, .nav .ham-container .line2, .nav .ham-container .line3 {
      width: 40px;
      height: 4px;
      background-color: black;
      margin: 6px 0;
      transition: 0.3s;
      border-radius: 4px; }
    .nav .ham-container .transition-line1 {
      transform: rotate(-45deg) translate(-7px, 6px); }
    .nav .ham-container .transition-line2 {
      opacity: 0; }
    .nav .ham-container .transition-line3 {
      transform: rotate(45deg) translate(-8px, -8px); }
  .nav .ham-up {
    margin-top: -155px; }

.nav-ul {
  display: none;
  width: 40%;
  justify-content: space-between; }
  .nav-ul li {
    font-family: "PT Sans Narrow", sans-serif; }
    .nav-ul li a {
      color: black;
      text-decoration: none;
      font-size: 22px;
      letter-spacing: 1px; }
      .nav-ul li a:hover {
        border-bottom: 2px solid #ca2a2a; }

.menu-ul {
  z-index: 2;
  border-radius: 5px;
  overflow-x: hidden;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 100px;
  width: 0; }
  .menu-ul li {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 8px; }
    .menu-ul li a {
      color: black;
      text-decoration: none;
      font-size: 22px;
      letter-spacing: 1px; }
      .menu-ul li a:hover {
        border-bottom: 2px solid #ca2a2a; }

.intro {
  text-align: center;
  width: 90%;
  margin: 10% auto; }

.intro-wrapper {
  font-family: "PT Sans", sans-serif;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 15px; }
  .intro-wrapper h1 {
    color: #ca2a2a;
    opacity: 0.8;
    font-size: 72px;
    margin: 0; }
  .intro-wrapper h4 {
    color: #ca2a2a;
    letter-spacing: 1px; }

.work {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif; }

.examples {
  display: flex;
  justify-content: center;
  flex-flow: wrap; }
  .examples .example {
    margin: 25px;
    position: relative; }
    .examples .example .project-svg {
      box-shadow: 5px 5px 30px lightgray; }
    .examples .example:hover .items-overlay {
      transition: .4s ease-in-out;
      opacity: 1; }

.items-overlay {
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 4px solid #ca2a2a;
  position: absolute;
  padding: 0.6em;
  overflow: hidden;
  height: 300px;
  width: 300px;
  top: 0; }
  .items-overlay h2 {
    font-size: 22px;
    color: black; }
  .items-overlay a {
    padding: 0.5em;
    border-radius: 5px;
    background-color: black;
    font-size: 0.9em;
    color: white;
    text-decoration: none; }
  .items-overlay p {
    font-size: 18px; }

.skills {
  text-align: center; }

.skills-ul {
  display: flex;
  flex-flow: row wrap; }
  .skills-ul li {
    margin: 15px auto;
    width: 50%; }

.heading {
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 28px; }

.html-badge {
  fill: #e34f26; }

.sass-badge {
  fill: #cc6699; }

.css-badge {
  fill: #1572b6; }

.git-badge {
  fill: #f05032; }

.js-badge {
  fill: #f7df1e; }

.bootstrap-badge {
  fill: #563d7c; }

.skills-icon {
  width: 25%; }

.experience {
  display: flex;
  flex-direction: column; }

.col {
  padding: 15px;
  color: black;
  width: 95%;
  margin: 20px auto;
  border-radius: 10px; }

.about p {
  font-size: 20px;
  line-height: 1.5; }
.about a {
  text-decoration: none;
  color: black; }
  .about a:hover {
    color: #ca2a2a; }

.contact {
  font-family: "PT Sans", sans-serif;
  margin-top: 60px;
  padding: 15px; }
  .contact p {
    font-size: 18px; }

.social-ul {
  display: flex;
  justify-content: center; }
  .social-ul li {
    width: 10%;
    margin: 15px; }

.custom-icon {
  width: 90%;
  fill: #ca2a2a; }

.dog-svg {
  float: right;
  width: 100%;
  height: 56%; }

@media (min-width: 768px) {
  .menu-ul {
    display: none; }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    width: 60%; }

  .nav {
    justify-content: center; }
    .nav .ham-container {
      display: none; }

  .custom-icon {
    width: 50%; }

  .contact {
    position: relative; }
    .contact .contact-wrapper {
      text-align: center;
      width: 38%;
      margin: 0 auto;
      z-index: 5;
      padding: 42px;
      position: absolute;
      top: 115px; }

  .dog-svg {
    position: absolute;
    right: 0;
    width: auto;
    height: auto; }

  .social-ul li {
    width: 35%; }

  .skills-ul li {
    margin: 15px auto;
    width: 30%; }

  .skills-icon {
    width: 40%; }

  .items-overlay h2 {
    font-size: 22px; }
  .items-overlay a {
    font-size: 0.9em; }

  .about {
    flex-flow: row;
    align-items: flex-start; }
    .about .about-text {
      max-width: 60%; }

  .experience {
    flex-direction: row; } }
@media (min-width: 1040px) {
  header {
    height: 100%; }

  .experience {
    flex-flow: row; }

  .col {
    margin: 20px 15px; }

  .about {
    width: 93%; }

  .items-overlay button {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
