* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  max-width: 1480px;
  margin: 0 auto; }

header {
  background-image: url("../img/rsz_unplashphoto-sandiego.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75%; }

.width-add {
  width: 150px !important; }

.margin-add {
  margin-top: 150px; }

.nav {
  display: flex;
  height: 100px;
  padding: 20px 20px 0px 20px;
  margin: 0;
  width: 100%; }
  .nav .ham-container {
    display: inline-block;
    position: sticky;
    z-index: 3; }
    .nav .ham-container .line1, .nav .ham-container .line2, .nav .ham-container .line3 {
      width: 40px;
      height: 4px;
      background-color: #193a44;
      margin: 6px 0;
      transition: 0.3s;
      border-radius: 4px; }
    .nav .ham-container .transition-line1 {
      transform: rotate(-45deg) translate(-7px, 6px); }
    .nav .ham-container .transition-line2 {
      opacity: 0; }
    .nav .ham-container .transition-line3 {
      transform: rotate(45deg) translate(-8px, -8px); }
  .nav .ham-up {
    margin-top: -155px; }

.nav-ul {
  display: none;
  width: 40%;
  justify-content: space-between; }
  .nav-ul li {
    font-family: "Nanum Gothic", sans-serif; }
    .nav-ul li a {
      color: black;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 1px; }
      .nav-ul li a:hover {
        border-bottom: 2px solid #e9a425; }

.menu-ul {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  border-radius: 5px;
  overflow-x: hidden;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 100px;
  width: 0; }
  .menu-ul li {
    font-family: "Nanum Gothic", sans-serif;
    margin-top: 8px; }
    .menu-ul li a {
      color: black;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 1px; }
      .menu-ul li a:hover {
        border-bottom: 2px solid #e9a425; }

.intro {
  text-align: center;
  width: 90%;
  margin: 10% auto; }

.intro-wrapper {
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 15px; }
  .intro-wrapper h1 {
    color: #193a44;
    opacity: 0.8;
    font-size: 38px;
    margin: 0; }
  .intro-wrapper p {
    color: black; }
  .intro-wrapper h4 {
    color: #e9a425;
    letter-spacing: 1px; }

.work {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif; }

.examples {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }
  .examples .example {
    margin: 25px auto;
    position: relative;
    width: 75%; }
    .examples .example img {
      max-width: 100%;
      min-height: 90%;
      box-shadow: 5px 5px 30px lightgray; }
    .examples .example:hover .items-overlay {
      transition: .4s ease-in-out;
      opacity: 1; }

.items-overlay {
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #e9a425;
  position: absolute;
  padding: 0.6em;
  overflow: hidden;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .items-overlay h2 {
    font-size: 14px;
    color: #193a44; }
  .items-overlay a {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #193a44;
    font-size: 1em;
    color: white;
    text-decoration: none; }
  .items-overlay p {
    font-size: 12px; }

.experience {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Nanum Gothic", sans-serif; }
  .experience h4 {
    margin: 0; }
  .experience .company {
    margin: 0;
    font-size: 14px; }
  .experience p {
    font-size: 14px; }

.col {
  background-color: rgba(33, 149, 161, 0.1);
  padding: 15px;
  color: black;
  width: 95%;
  margin: 20px auto;
  border-radius: 10px; }

.skills {
  text-align: center; }

.skills-ul {
  display: flex;
  flex-flow: row wrap; }
  .skills-ul li {
    margin: 15px auto;
    width: 50%; }

.heading {
  opacity: 0.8;
  color: #193a44;
  font-family: "Nanum Gothic", sans-serif; }

.html-badge {
  fill: #e34f26; }

.sass-badge {
  fill: #cc6699; }

.css-badge {
  fill: #1572b6; }

.git-badge {
  fill: #f05032; }

.js-badge {
  fill: #f7df1e; }

.bootstrap-badge {
  fill: #563d7c; }

.skills-icon {
  width: 25%; }

.about {
  width: 95%;
  margin: 20px auto;
  background-color: rgba(33, 149, 161, 0.1);
  border-radius: 10px;
  padding: 15px;
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between; }

.about-text {
  max-width: 95%; }

.wayne {
  border-radius: 10%;
  max-height: 95%;
  max-width: 300px; }

.contact {
  background-color: rgba(33, 149, 161, 0.1);
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 60px;
  padding: 15px; }
  .contact p {
    font-size: 14px; }
  .contact .heading {
    margin-top: 0; }

.social-ul {
  display: flex;
  justify-content: center; }
  .social-ul li {
    width: 10%; }

.custom-icon {
  width: 90%;
  fill: #e9a425; }

@media (min-width: 768px) {
  .menu-ul {
    display: none; }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    width: 60%; }

  .nav {
    justify-content: center; }
    .nav .ham-container {
      display: none; }

  .custom-icon {
    width: 50%; }

  .contact .contact-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  .contact p {
    font-size: 16px; }

  .skills-ul li {
    margin: 15px auto;
    width: 30%; }

  .skills-icon {
    width: 40%; }

  .examples .example {
    width: 40%; }

  .items-overlay h2 {
    font-size: 18px; }

  .about {
    flex-flow: row;
    align-items: flex-start; }
    .about .about-text {
      max-width: 60%; } }
@media (min-width: 1040px) {
  header {
    height: 100%; }

  .experience {
    flex-flow: row; }

  .col {
    margin: 20px 15px; }

  .about {
    width: 93%; }

  .items-overlay h2 {
    font-size: 22px; }
  .items-overlay p {
    font-size: 18px; }
  .items-overlay button {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
