* {
    box-sizing: border-box; 
}
body, html {
    height: 100%;
}
body {
    max-width: 1480px;
    margin: 0 auto;
}
header { 
    background-image: url("../img/rsz_unplashphoto-sandiego.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75%;
    
}
.nav {
    display: flex;
    height: 100px;
    padding: 20px 20px 0px 20px;
    margin: 0;
    width: 100%;
    
    // styles for the haburger transformation 
    .ham-container {
        display: inline-block;
        position: relative;
       
        .line1, .line2, .line3 {
            width: 40px;
            height: 4px;
            background-color:$color-accent;
            margin: 6px 0;
            transition: 0.3s;
            border-radius: 4px;
        }
        .transition-line1 {
            transform: rotate(-45deg) translate(-7px, 6px); 
          }
          
          .transition-line2 {
             opacity: 0;
          }
          .transition-line3 {
            transform: rotate(45deg) translate(-8px, -8px);
          }
    }

}
.nav-ul {
    display: none;
    width: 40%;
    justify-content: space-between;
       
   li {
    font-family: $font-stack;
      
       a {
           color: black;
           text-decoration: none;
           font-size: 18px;
           letter-spacing: 1px;
           &:hover {
            border-bottom: 2px solid $color-accent-com;
        }
             
       }
   }
}
.menu-ul {
    position: absolute;
    top: 60px; 
    left: 10px;
    background-color: $color-bg-light;
    z-index: 2;
    padding: 10px;
    border-radius: 5px;
    li {
        font-family: $font-stack;
        margin-top: 10px; 
           a {
               color: black;
               text-decoration: none;
               font-size: 18px;
               letter-spacing: 1px;
               &:hover {
                border-bottom: 2px solid $color-accent-com;
            }
                 
           }
       }
}
.intro {
    text-align: center;
    width: 90%;
    margin: 10% auto;
}
.intro-wrapper {
    font-family: $font-stack;
    background-color: $color-bg-light; 
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    h1{
        color: $color-accent;
        opacity: 0.8;
        font-size: 38px;
        margin: 0;  
        
    }
    p {
        color: black;
         
    }
    h4 {
        color: $color-accent-com;
        letter-spacing: 1px;
    }
}
// *********** Recent Works Section ***********
.work {
    width: 90%; 
    margin: 0 auto;
    text-align: center;  
    // height: auto; 
    font-family: $font-stack;
}
.examples {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    
    .example {
        margin: 25px auto;
        position: relative;
        width: 75%; 
        img {
            max-width: 100%;
            min-height: 90%;
            box-shadow: 5px 5px 30px lightgray;
        }
        &:hover .items-overlay {
            transition: .4s ease-in-out;
            opacity: 1;
        }
    }
}
// styles for the overlay 
.items-overlay {
    opacity: 0;
    background:rgba(255, 255, 255, 0.9);
    border: 2px solid $color-accent-com;
    position: absolute;
    padding: 0.6em;
    overflow: hidden;
    height: 90%;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    

    h2 {
        font-size: 14px;
        color: $color-accent;
    }
    button {
        color: $color-accent;
        background: transparent;
        padding: 0.5em;
        font-size: 0.7em;
        border-radius: 5px;
        &:hover {
            color: white; 
            background-color: $color-accent;
        }
    }
    p {
        font-size: 12px;
    }
}
// ********** Experience section ***********

.experience {
 width: 95%;   
 margin: 0 auto;
 display: flex;
 flex-flow: column;
 justify-content: space-between;
 font-family: $font-stack;
  h4 { 
    margin: 0;
  }
  .company {
    margin: 0;
    font-size: 14px;
  }
  p {
      font-size: 14px;
  }

}
.col {
    background-color: $color-bg-accent-light;
    padding: 10px;
    color:black;
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
 
}
.skills {
    text-align: center;
}
.skills-ul {
    display: flex;
    // justify-content: space-between;
    flex-flow: row wrap;
    li {
        margin: 15px auto;
        width: 50%;
    }
}
.heading {
    opacity: 0.8;
    color: $color-accent;
    font-family: $font-stack;
}
.html-badge {
    fill: #e34f26;
}
.sass-badge {
    fill: #cc6699;
}
.css-badge {
    fill: #1572b6;
}
.git-badge {
    fill: #f05032;
}
.js-badge {
    fill: #f7df1e;
}
.bootstrap-badge {
    fill: #563d7c;
}
.skills-icon {
    width: 25%;
}

// ******** About Section *********
.about {
    width: 90%;   
    margin: 20px auto;
    background-color: $color-bg-accent-light;
    border-radius: 10px;
    padding: 10px;
    font-family: $font-stack;
}
// ********** Contact Section *****
.contact {
    background-color: $color-bg-accent-light;
    font-family: $font-stack;
    margin-top: 60px;
    padding: 20px;

    p {
        font-size: 14px;
    }
    .heading {
        margin-top: 0;
    }
}
.social-ul {
    display: flex;
    justify-content: center;
    li {
        width: 10%;   
    }
}
.custom-icon {
    width: 90%;
    fill: $color-accent-com;
}

@media (min-width: 768px) {
    // hide the drop down menu 
    .menu-ul {
        display: none;
    }
    .nav-ul {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .nav {
        justify-content: center;
        .ham-container {
            display: none;
        }
    }
    .custom-icon {
        width: 50%;
    }
    .contact {
        .contact-wrapper {
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }
        p {
            font-size: 16px;
           
        }

    }
    .skills-ul {
        li {
            margin: 15px auto;
            width: 30%;
        }
    }
    .skills-icon {
        width: 40%;
    }
    .examples {
        .example {
            width: 40%;   
        }
    }
    .items-overlay {
        h2 {
            font-size: 18px;
        }
    }
    
}
@media (min-width: 1040px) { 
    header {
        height: 100%;
    }
    .experience {
        flex-flow: row;
    }
   .col {
       margin: 20px 15px;
   }
   .about {
       width: 93%;
   }
   .items-overlay {
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 18px;
    }
    button {
        font-size: 16px;
    }
}
  
}