$font-stack-primary: 'PT Sans', sans-serif;
$font-stack-secondary: 'PT Sans Narrow', sans-serif;

$color-accent: rgb(0, 0, 0);
$color-bg-accent: rgba(25,58,68, 0.1);  
$color-bg-accent-light: #8b53410a;
$color-accent-com: #ca2a2a;